*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 956px;
}

.square{
    width: calc(956px / 16);
    border: 1px solid black;
    height: 16px;
}

.button{
    margin-bottom: 10px;
}